*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    
    min-height: 100vh;
}
.first-section{
    background-image: url(images/image111.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* padding: 20px;  */
    padding-top: 20px;
    box-sizing: border-box; 
}

.first-section-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 70px;
    height: 60px;
    margin-top: -17px;
    /* margin-bottom: 20px; */
}
.header-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 6px;
}
.header-links{
    margin-left: auto;
    font-style: italic;
    font-weight: bold;
    padding-right: 2px;
}
.header-links a {
    margin: 0 2px;
    color: white;
}
.second-section{
    background: #fff;
    height: 100px;
}
.second-section-header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px 70px; */
    height: 60px;
    margin-top: 2em;

}
.header-image2{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 3.1em;
}
.header-links2{
    margin-left: auto;
    font-style: italic;
    font-weight: bold;
    padding-right: 2px;
}
.header-links2 a {
    margin: 0 2px;
    color: rgb(28, 28, 78);
}
.p{
    display: inline-block;
    padding: 10px;
}
.p1{
    display: table-cell;
    color: rgb(34, 32, 32);
    font-weight: 500;
}
.p2{
    color: rgb(28, 28, 78);
    font-weight: 500;  
}
.third-section{
    background-image: url(images/image22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.body-wrapper{
    display: flex;
    padding: 45px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5) !important;
   
}
.wrapper{
    max-width: 1200px;
    position: relative;
}
.wrapper i{
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}
.wrapper i:first-child{
    left: -23px;
    display: none;
}
.wrapper i:last-child{
    right: -23px;
}
.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth !important;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}
.carousel img{
    height: 150px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100%/3);
}
.carousel img :first-child{
    margin-left: 0px;

}
.text1{
    /* display: inline-flex; */
    padding-left: 3em;
}
.num1{
    font-size: 70px;
    color: gray;
    font-weight: bold;
    display: inline !important;
}
.link1{
    color: rgb(28, 28, 78);
    position: relative;
    top: -1.1em;
    left: -1em;
    text-decoration: none;
    font-weight: 600;
}
.p11{
    position: relative !important;
    color: rgb(34, 32, 32);
    top: -1.5em;
    padding-left: 2.5em;
    
}
.text2{
    background-color: #fff;
    display: inline-flex;
    padding-left: 3em;
}
.num2{
    font-size: 70px;
    color: gray;
    font-weight: bold;
    display: inline !important;
}
.link2{
    color: rgb(28, 28, 78);
    font-weight: 600;
    position: relative;
    top: 2.5em;
    left: -1em;
    text-decoration: none;
}
.p22{
    position: relative !important;
    color: rgb(34, 32, 32);
    text-align: left;
    top: 1em;
}
/* Default styles for tabs */
.tab-container {
    display: flex;
    flex-direction: column;
}
.tab-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.tab-item {
    cursor: pointer;
    padding: 10px 20px;
}
.tab-item a{
    color: rgb(185, 182, 182);
    font-size: 20px;
    font-weight: 600;
}
.tab-item :hover{
    background: gray;
    color: rgb(28, 28, 78); ;
}
/* .tab-item.active {
    background-color: #fff;
    border-color: #ccc;
}
.tab-panel {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}
.tab-panel.active {
    display: block;
} */
  
  /* Styles for accordion */
  

@media screen and (max-width:900px) {
    .carousel img{
        width: calc(100%/2);
    }
    .first-section{
        background-image: url(images/image111.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 400px;
        max-width: 100%;
        /* padding: 20px;  */
        padding-top: 20px;
        box-sizing: border-box; 
    }
}
@media (max-width: 768px) {
    .tab-header {
      flex-direction: column;
    }
    .tab-item {
      border-radius: 5px;
      border: none;
      border-bottom: 1px solid #ccc;
    }
    .tab-panel {
      border-radius: 5px;
      border: none;
      border-top: 1px solid #ccc;
    }
}
@media screen and (max-width:550px) {
    .carousel img{
        width: 100%;
    }
}